<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>ASSB Management</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a th:href="@{/}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>ASSB</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a th:href="@{/}" class="nav-item nav-link active">Home</a>
                <a th:href="@{/about}" class="nav-item nav-link">About</a>
                <a th:href="@{/courses}"class="nav-item nav-link">Courses</a>
                 <a th:href="@{/contact}" class="nav-item nav-link">Contact</a>
                <div class="nav-item dropdown">
                    <a href="@{/student}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a th:href="@{/hodDashbord}" class="dropdown-item">Hod Dash-Board</a>
                         <a th:href="@{/teacher/}" class="dropdown-item">Staff</a>
                          <a th:href="@{/StudentRegistration}" class="dropdown-item">Student</a>
                      
                    </div>
                </div>
               <div class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Sigin</a>
					<div class="dropdown-menu fade-down m-0">
						<a th:href="@{/studRegister}" class="dropdown-item">New Student Registrartion</a>
						<a th:href="@{/teacherRegi}" class="dropdown-item">New Teacher Registrartion</a>
						<a th:href="@{/signin}" class="dropdown-item">Login</a>
						<a th:href="@{/logout}" class="dropdown-item">Logout</a>
					</div>
				</div>
               
            </div>
           
        </div>
    </nav>
    <!-- Navbar End -->




	<!-- Header Start -->
	<div class="container-fluid bg-primary py-5 mb-5 page-header">
		<div class="container py-5">
			<div class="row justify-content-center">
				<div class="col-lg-10 text-center">
					<h1 class="display-3 text-white animated slideInDown">Exam forms </h1>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb justify-content-center">
							<li class="breadcrumb-item"><a class="text-white" th:href="@{/}">Home</a></li>
							<li class="breadcrumb-item"><a class="text-white" th:href="@{/hod/hodDashbord}">Dashboard</a></li>
							
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- Header End -->


	<!-- Testimonial Start -->
	<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
		<div class="container">
			<div class="text-center">
				<h6 class="section-title bg-white text-center text-primary px-3">Exam Form </h6>
				<h1 class="mb-5">Data!</h1>
			</div>
				<table class="table">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">email</th>
						<th scope="col">Father Name</th>
						<th scope="col">Mother Name</th>
						<th scope="col">DOB</th>
						<th scope="col">Exam Language</th>
						<th scope="col">Address</th>
						<th scope="col">Dept</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="e:${lst}">
						<th th:text="${e.id}"></th>
						<td th:text="${e.name}"></td>
						<td th:text="${e.email}"></td>
						<td th:text="${e.f_name}"></td>
						<td th:text="${e.m_name}"></td>
						<td th:text="${e.dob}"></td>
						<td th:text="${e.language}"></td>
						<td th:text="${e.address}"></td>
						<td th:text="${e.dept}"></td>
						 <td>
		  <a th:href="@{/hod/editFrom/{id}(id=${e.id})}" class="btn btn-primary">
			Edit</a>
			<a th:href="@{/hod/deleteExamForm/{id}(id=${e.id})}" class="btn btn-danger">
			Delete</a>
			
		    </td>
					</tr>

				</tbody>
			</table>
			<!-- Testimonial End -->
	
			<!-- JavaScript Libraries -->
			<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
			<script src="lib/wow/wow.min.js"></script>
			<script src="lib/easing/easing.min.js"></script>
			<script src="lib/waypoints/waypoints.min.js"></script>
			<script src="lib/owlcarousel/owl.carousel.min.js"></script>

			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
				integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
				crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
				integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
				crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
				integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
				crossorigin="anonymous"></script>

			<!-- Template Javascript -->
			<script src="js/main.js"></script>
</body>

</html>