<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>ASSB Management</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="keywords">
	<meta content="" name="description">

	<!-- Favicon -->
	<link href="img/favicon.ico" rel="icon">

	<!-- Google Web Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
		rel="stylesheet">

	<!-- Icon Font Stylesheet -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

	<!-- Libraries Stylesheet -->
	<link href="/lib/animate/animate.min.css" rel="stylesheet">
	<link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

	<!-- Customized Bootstrap Stylesheet -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">

	<!-- Template Stylesheet -->
	<link href="/css/style.css" rel="stylesheet">

	<link href="/css/registration.css" rel="stylesheet">
</head>
<body>
		<!-- Navbar Start -->
	<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
		<a th:href="@{/}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
			<h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>ASSB</h2>
		</a>
		<button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="navbar-nav ms-auto p-4 p-lg-0">
				<a th:href="@{/}" class="nav-item nav-link active">Home</a>
				<a th:href="@{/about}" class="nav-item nav-link">About</a>
				<a th:href="@{/courses}" class="nav-item nav-link">Courses</a>
				<a th:href="@{/contact}" class="nav-item nav-link">Contact</a>
				<div class="nav-item dropdown">
					<a href="@{/student}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
					<div class="dropdown-menu fade-down m-0">
						<a th:href="@{/hodDashbord}" class="dropdown-item">Hod Dash-Board</a>
						<a th:href="@{/teacher/}" class="dropdown-item">Staff</a>
						<a th:href="@{/StudentRegistration}" class="dropdown-item">Student</a>

					</div>
				</div>
				<div class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Sigin</a>
					<div class="dropdown-menu fade-down m-0">
						<a th:href="@{/studRegister}" class="dropdown-item">New Student Registrartion</a>
						<a th:href="@{/teacherRegi}" class="dropdown-item">New Teacher Registrartion</a>
						<a th:href="@{/signin}" class="dropdown-item">Login</a>
						<a th:href="@{/logout}" class="dropdown-item">Logout</a>
					</div>
				</div>

			</div>

		</div>
	</nav>
	<!-- Navbar End -->



	<div class="container">
		<div class="title">Login </div>
		<div class="content">
				<th:block th:if="${param.error}">
							<p class="text-center text-danger fs-5">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
						</th:block>
						<th:block th:if="${param.logout}">
							<p class="text-center text-success fs-5">Logout Sucessfully</p>
						</th:block>


			<form action="userLogin" method="post">
				<div class="user-details">

					<div class="input-box">
						<span class="details">User Name</span> 
						<input type="text"  name="username"
							placeholder="email" required>
					</div>
					
					<div class="input-box">
						<span class="details">Password</span> 
						<input type="password"name="password"
							placeholder="Password" required>
					</div>
					
				</div>
				<div class="button">
					<input type="submit" value="Login ">
				</div>
						
				
			</form>
	
		</div>


	<!-- Back to Top -->
	<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="lib/wow/wow.min.js"></script>
	<script src="lib/easing/easing.min.js"></script>
	<script src="lib/waypoints/waypoints.min.js"></script>
	<script src="lib/owlcarousel/owl.carousel.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

	<!-- Template Javascript -->
	<script src="js/main.js"></script>
</body>

</html>